---
import Footer from "../components/Footer.astro";
import Layout from "../layout/layout.astro";
import Header from "../components/Header.astro";
import BooksCards from "../components/BooksCards.astro";

---

<Layout>
	<main>
		<Header />
        <div class="min-h-screen">
            <BooksCards />
        </div>
		<Footer/>
	</main>
</Layout>

