---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layout/layout.astro";
import Header from "../components/Header.astro";


---

<Layout>
	<main>
		<Header />
		<div class="h-screen flex justify-center">
			<Hero/>
		</div>
		<Footer/>
	</main>
</Layout>

<style>
	main{
	}
</style>