---
import Header from "../components/Header.astro";
import LoginScreen from "../components/LoginScreen.astro";
import Layout from "../layout/layout.astro";

---

<Layout>
    <Header/>
    <main class="flex items-center justify-center">
        <LoginScreen/>
    </main>
</Layout>

