---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layout/layout.astro";
import Header from "../components/Header.astro";

---

<Layout>
	<main>
		<Header />
	</main>
</Layout>
