---
import Header from "../components/Header.astro";
import RegisterForm from "../components/RegisterForm.astro";
import Layout from "../layout/layout.astro";

---

<Layout>
    <Header/>
    <main class="flex items-center justify-center">
        <RegisterForm/>
    </main>
</Layout>

