---
import anime from "../content/anime/anime.json"
---



<section class="p-8">
    <h1 class="">Anime</h1>
    <div class="grid items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-full">
        <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-rows-3">

        <ul>
            {anime.map((i) => 
                <li>
                    
                            <div class="py-6">
                            <!-- <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="/favicon.svg" alt="blog"/>-->
                            <h1 class="mx-auto mb-8 text-4xl font-semibold leading-none tracking-widertext-black dark:text-lime-200 lg:text-5xl">{i.title}</h1>
                            <h2 class="mb-8 text-lg font-semibold tracking-widest text-blue-600 uppercase">{i.studio}</h2>
                            <h2 class="mb-8 text-lg font-semibold tracking-widest text-blue-600 uppercase">{i.producer}</h2>
                            <div class="dark:bg-lime-100 bg-lime-300 rounded-3xl p-8">
                            <p class="mx-auto text-pretty text-xl font-bold leading-relaxed tracking-wide text-gray-500">{i.status}</p>
                            <a href="/" class=" hover:underline text-black">read more</a>
                            </div>
                            
                            </div>
                        
               </li>
                )}
        </ul>
    </div>
</section>



