---
import HamburgerMenu from "./HamburgerMenu.astro";
import Navigation from "./Navigation.astro";


---
<nav x-data="{ mobileMenuIsOpen: false }" @click.away="mobileMenuIsOpen = false" class="flex p-8 items-center justify-between" aria-label="penguin ui menu">
	    
    <!-- Brand Logo -->
     <Navigation/>
     <HamburgerMenu/>
</nav>