---

---
<section class="flex items-center justify-center">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
      <div class="flex flex-col w-full mb-12 text-center">
        <h1 class="max-w-5xl text-3xl text-neutral-600 dark:text-white md:text-5xl lg:text-7xl lg:max-w-7xl">
            Keep Track of all your <span class="text-lime-400">Entertainment.</span> 
        </h1>
        <p class="max-w-xl mx-auto mt-8 md:text-2xl text-base leading-relaxed text-center text-gray-500">All the shows and movies you watch, and the ones you're going to watch at one place</p>
      </div>
    </div>
  </section>