---
import '../styles/global.css';
const pageTitle = "CoffeePlease";
import  SpeedInsights  from "@vercel/speed-insights/astro"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/12.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <SpeedInsights/>
    <slot/>
  </body>
</html>

<style>
	body{
	}
</style>